.nav {
	grid-area: n;
	background: rgb(255 255 255);
	border-radius: 4px;
	box-shadow: 0 1px 0 0 rgb(211 217 222),
		0 0 0 1px rgb(231 232 236);
	padding: 16px;
	margin-right: 16px;
}

.item {
	color: blue;
	margin-bottom: 8px;
}

.item.active {
	color: red;
}
